Model Code
[{"id":"28a815f7.2df1da","type":"tab","label":"Drip Data Processor","disabled":false,"info":""},{"id":"f049510.1e8c6b","type":"inject","z":"28a815f7.2df1da","name":"Inject RawCitizenData","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"citizen","payload":"","payloadType":"str","x":160,"y":40,"wires":[["94f169b0.a036b8"]]},{"id":"43ef4ec9.43cc7","type":"csv","z":"28a815f7.2df1da","name":"Citizen 1 data json","sep":",","hdrin":true,"hdrout":"all","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":650,"y":40,"wires":[["45287406.5dbbcc","a24d16a.d481ee8"]]},{"id":"94f169b0.a036b8","type":"template","z":"28a815f7.2df1da","name":"Citizen INPUT CSV data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Soil_Health_Card,TotalLandholding,Land(Farming),AnnualIncome,EconomicClassification,TypeOfHouse,AreaOfResidence,MaritalStatus,IsDisabled,Gender,Contract_Farmer,Marginal_Small_Farmer,Caste,Water_level_field,Water(Irrigation),Fertigation_Component_Available,LandAtMultipleLocation,HasAvailed(Same),Consuming_Crop,Block\nPoor,4 - 6,Own land,Above 6 Lakh,APL,Kachcha House,Urban,Married,No,Male,No,,OBC,,No,No,Yes,Yes,Tobacco,Bilagi","output":"str","x":410,"y":40,"wires":[["43ef4ec9.43cc7"]]},{"id":"8b2a5cb8.dcf67","type":"inject","z":"28a815f7.2df1da","name":"Inject Crop_Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"crop","payload":"","payloadType":"date","x":100,"y":100,"wires":[["6aaa04eb.77d24c"]]},{"id":"6aaa04eb.77d24c","type":"template","z":"28a815f7.2df1da","name":"consuming_crop_table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Groundnut,Cotton,Chillies,sunflower,Potato,Cucumber,Custard apple,Pumpkin,Tomato,Grapes,Pineapple,Lemon,Orange,Mosambi,Sapota,Fig,Mango,Sugarcane,Banana,Coconut,Maize,Jowar,Wheat,Rice,Cowpea ,Black gram,Green gram,Bengal gram,Tur,Horticulture Crops,soyabeen ,Capsicum,Beans,Onion,Cauliflower,Knol Knol,Peas,Cabbage,Brinjal,Okra/Ladyfinger,Maize,Radish,seasmum,Guava,Tobacco,safflower,Beet Root,coffee,Cluster Beans\nHigh,High,High,High,High,High,High,High,High,High,High,High,High,High,High,High,High,High,High,High,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Low,Low,Low,Low,Low,Low,Low,Low","output":"str","x":320,"y":100,"wires":[["ce33645f.986638"]]},{"id":"ce33645f.986638","type":"csv","z":"28a815f7.2df1da","name":"consuming_crop_table json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":false,"x":600,"y":120,"wires":[["80e86dcb.9461b"]]},{"id":"ab519e1f.e608","type":"debug","z":"28a815f7.2df1da","name":"Citizen Processed Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":280,"wires":[]},{"id":"80e86dcb.9461b","type":"join","z":"28a815f7.2df1da","name":"","mode":"custom","build":"object","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":200,"wires":[["824e848.31f7e78"]]},{"id":"824e848.31f7e78","type":"function","z":"28a815f7.2df1da","name":"","func":"var citizen = msg.payload.citizen\nvar crop = msg.payload.crop\nvar caste = msg.payload.caste\nvar landholding = msg.payload.landholding\nvar small = msg.payload.small\nvar income = msg.payload.income\nvar block = msg.payload.block\n\ncitizen.payload.Consuming_Crop = crop.payload[citizen.payload.Consuming_Crop]\ncitizen.payload.Caste = caste.payload[citizen.payload.Caste]\ncitizen.payload.TotalLandholding = landholding.payload[citizen.payload.TotalLandholding]\ncitizen.payload.Marginal_Small_Farmer = small.payload[citizen.payload.TotalLandholding]\ncitizen.payload.AnnualIncome = income.payload[citizen.payload.AnnualIncome]\ncitizen.payload.Water_level_field = block.payload[citizen.payload.Block]\nreturn citizen;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":200,"wires":[["ab519e1f.e608"]]},{"id":"45287406.5dbbcc","type":"debug","z":"28a815f7.2df1da","name":"Citizen Raw Input Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":40,"wires":[]},{"id":"650c9cea.e29f14","type":"inject","z":"28a815f7.2df1da","name":"Inject Caste_Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"caste","payload":"","payloadType":"date","x":110,"y":160,"wires":[["713b21db.d24a6"]]},{"id":"713b21db.d24a6","type":"template","z":"28a815f7.2df1da","name":"Caste_Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"General,SC,ST,OBC,DNT,Nomadic Tribe\nHigh,Low,Low,High,Low,Low","output":"str","x":350,"y":160,"wires":[["ccbd09b1.48bff8"]]},{"id":"ccbd09b1.48bff8","type":"csv","z":"28a815f7.2df1da","name":"Caste_Table","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":590,"y":160,"wires":[["80e86dcb.9461b"]]},{"id":"dac72430.fbbb58","type":"inject","z":"28a815f7.2df1da","name":"Inject Landholding","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"landholding","payload":"","payloadType":"date","x":110,"y":220,"wires":[["4a142b8d.91a7a4"]]},{"id":"4a142b8d.91a7a4","type":"template","z":"28a815f7.2df1da","name":"Landholding/SmallFarmer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0 - 1,1 - 2,2 - 4,4 - 6,More than 6\nLow,Low,Medium,High,High","output":"str","x":350,"y":220,"wires":[["f188a28a.0e095"]]},{"id":"f188a28a.0e095","type":"csv","z":"28a815f7.2df1da","name":"Landholding Table","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":590,"y":220,"wires":[["80e86dcb.9461b"]]},{"id":"e156298e.009998","type":"csv","z":"28a815f7.2df1da","name":"Marginal_Small_Farmer_Table","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":590,"y":280,"wires":[["80e86dcb.9461b"]]},{"id":"43ec8fc8.de6cd","type":"template","z":"28a815f7.2df1da","name":"Marginal_Small_Farmer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0 - 1,1 - 2,2 - 4,4 - 6,More than 6\nYes,Yes,No,No,No","output":"str","x":310,"y":280,"wires":[["e156298e.009998"]]},{"id":"d88d26dd.6f2d08","type":"inject","z":"28a815f7.2df1da","name":"Inject Small","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"small","payload":"","payloadType":"date","x":90,"y":280,"wires":[["43ec8fc8.de6cd"]]},{"id":"85d348c4.a34148","type":"inject","z":"28a815f7.2df1da","name":"Inject annual income","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"income","payload":"","payloadType":"date","x":110,"y":340,"wires":[["d7ce7d4d.99c68"]]},{"id":"d7ce7d4d.99c68","type":"template","z":"28a815f7.2df1da","name":"Income Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1.1 - 2 Lakh,2.1 - 3 Lakh,3.1 - 4 Lakh,4.1 - 5 Lakh,5.1 - 6 Lakh,Above 6 Lakh\nLow,Low,Medium,Medium,High,High","output":"str","x":330,"y":340,"wires":[["fc1c3f5c.062b9"]]},{"id":"fc1c3f5c.062b9","type":"csv","z":"28a815f7.2df1da","name":"Income Table CSV","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":550,"y":340,"wires":[["80e86dcb.9461b"]]},{"id":"8c894964.fae248","type":"inject","z":"28a815f7.2df1da","name":"Inject Block Name","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"block","payload":"","payloadType":"date","x":110,"y":400,"wires":[["d0e8b057.3da05"]]},{"id":"d0e8b057.3da05","type":"template","z":"28a815f7.2df1da","name":"Water Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Blocks/Tulaks,Belgaum,Khanapur,Chikkodi,Athani,Rayabaga,Bilahongala,Gokaka,Nanjangud,T.Narsipura,Piriyapatna,K.R.Nagara,Mysuru,Kalaburagi,Aland,Jewargi,Afzalpur,Sedam,Chincholi,Shahbadha,Yadrami,Kalagi,Kamalapura,Bellary,Hospet,Siruguppa,Sandur,Hadagalli,Kampli,Vijayapura,Muddebihala,Sindagi,Basavana bagevadi,Babaleshwar,Tikotta,Nidagundi,Devara hipparagi,Chadachana,Harihara,Honnali,Jaggaluru,Raichur,Manavi,Sindhanur,Devadurga,Lingasoguru,Musky,Siravara,Mudhol,Bilagi,Hungundi,Rabkavi Banhatti,Ilkal,Guledaguddu,Hubali,Kalaghati,Navalakunda,Alnavara,Annigeri,Hubli City,Maddur,Malavalli,Srirangapatna,Krishnarajapete,Pandavapura,Mandya,Aluru,Arakalagudu,Shivamogga,Sagar,Hosanagar,Shikaripur,Tirthahalli,Bhadravathi,Basavakalyana,Bhalki,Humanabad,Chitaguppa,Hulasura,Kamalanagar,Bidar,Challakere,Hosadurga,Ranebennur,Byadagi,Hirekerur,Shiggaon,Ratteehalli,Haveri,Ankola,Kumta,Honnavara,Bhatkala,Sirsi,Yallapura,Mundagodu,Haliyala,Joyda,Karwar,Dandelli,Koppal,Gangavati,Kuṣṭagi,Kukanura,Karaṭagi,Kanakagiri,Udupi,Kundapur,Brahmavar,Byndooru,Hebri,Yadagiri,Shahapur,Shorapur,Hunasigi,Vadagera,Gurumathkal,Chikkamagaluru,Mudigere,Ajjampura,Channapatna,Gadag-Betagari,Naragunda,Mundaragi,Shirahatti,Lakshmeshwara,Kollegal,Somavarapete,Karkala,Konanuru,Kushalnagar,Bengaluru South,Hookkeri,Savadatti,Kitthuru ,Hunsur,H.D.Kote,Sargur,Turuvekere,Madhugiri,Pavagada,Sira,Chittapur,Kudligi,Harapanahalli,Kurugoda,Kotturu,Hagaribbomnahalli,Indi,Talikoti,Kolhara,Puttur,Bantwala,Belthangadi,Sulya,Kadaba,Davanagere,Channagiri,Nyamati,Bagalkot,Jamkhandi,Dharwad,Nagamangala,Chennarayapatnam,Holenarasipur,Sakaleshpur,Hassan,Belur,Sorba,Chitradurga,Hirihuru,Hollalkere,Hangal,Savanur,Siddhapura,Yelburga,Gudibande,Kapu,Kadur,Koppa,Narasimharajapura,Tarikere,Kanakapura,Rona,Gajendragada,Yelanduru,Hanuru,Chamarajanagar,Madikere, Virajpete,Kalasa,Ponnampete,Bagamandala,Bengaluru North,Bengaluru North(Addl.),Anekal,Ramadurga,Nippani,Tumakuru,Badami,Kundagola,Aurada,Molakalmuru,K.G.F.,Sringeri,Ramanagara,Gundlupet,Dodaballapur,Arsikere,Gubbi,Chikkanayakanahalli,Koratagere,Mangaluru,Mudubidire,Mulabagilu,Devanahalli,Hosakote,Nelamangala,Bengaluru East,Kunigal,Chikkaballapur,Chintamani,Shidlaghatta,Magadi,Kunigal,Bangarapet,Srinivasapura,Kolar,Gauribidanur,Bagepalli,Chelur,Maluru\nAlloted Value,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Low,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,High,High,High,High,High,High,High,High,High,Low,High,High,High,High","output":"str","x":340,"y":400,"wires":[["3aa8a439.ddd87c"]]},{"id":"3aa8a439.ddd87c","type":"csv","z":"28a815f7.2df1da","name":"Water Table CSV","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":540,"y":400,"wires":[["80e86dcb.9461b"]]},{"id":"a24d16a.d481ee8","type":"change","z":"28a815f7.2df1da","name":"Switch MaritalStatus","rules":[{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Unmarried","fromt":"str","to":"High","tot":"str"},{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Married","fromt":"str","to":"High","tot":"str"},{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Widow","fromt":"str","to":"Low","tot":"str"},{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Divorcee","fromt":"str","to":"Low","tot":"str"},{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Widower","fromt":"str","to":"Low","tot":"str"},{"t":"change","p":"payload.MaritalStatus","pt":"msg","from":"Seperated","fromt":"str","to":"High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":100,"wires":[["80e86dcb.9461b"]]}]
